<div class="card-body">
    <div class="input-group">
        <span class="input-group-btn">
          <button [ngClass]="btnClass"
                  type="button"
                  (click)="changeValue(-5)">
              <i class="fa fa-minus"></i>
          </button>
        </span>
        <input type="number"
               class="form-control"
               placeholder="progress"
               [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
               (ngModelChange) = "OnChangeInput($event)"
               [(ngModel)]="progress"
               min="0"
               max="100" />
        <span class="input-group-btn">
          <button [ngClass]="btnClass"
                  type="button"
                  (click)="changeValue(5)">
              <i class="fa fa-plus"></i>
          </button>
        </span>
     </div>
</div>