<div class="row">
    <div class="col-6">
        <app-dona [title] = "'Sales1'"
                  [label] = "labels1"
                  [data] = "data1"
                  [color] = "color1">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [title] = "'Sales2'"
                  [label] = "labels2"
                  [data] = "data2"
                  [color] = "color2">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [title] = "'Sales3'"
                  [label] = "labels3"
                  [data] = "data3"
                  [color] = "color3">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [title] = "'Sales4'"
                  [label] = "labels4"
                  [data] = "data4"
                  [color] = "color1">
        </app-dona>
    </div>
</div>